
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfo.cs
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfo.cs
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfo.cs
TradingServer/obj/Debug/net9.0/TradingServer.assets.cache
TradingServer/obj/Debug/net9.0/TradingServer.csproj.AssemblyReference.cache
TradingServer/obj/Debug/net9.0/TradingServer.sourcelink.json
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfoInputs.cache
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfoInputs.cache
/TradingServer/bin
/Logging/obj/Debug
/TradingServer/obj/Debug
/TradingServer/obj/Debug
/TradingServer/obj/Debug
/Logging/bin
/Orders/Orders/obj
/Logging/bin/Debug
/Logging/bin
/Orders/Orders
/Orders/Orders

/TradingServer/obj
/TradingServer/obj
/Orderbook/OrderbookCS/obj
/TradingServer/obj
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfo.cs
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfoInputs.cache
TradingServer/obj/Debug/net9.0/TradingServer.sourcelink.json
Orderbook/Orders/obj/Debug/net9.0/Orders.GeneratedMSBuildEditorConfig.editorconfig
Orderbook/Orders/obj/Debug/net9.0/Orders.GlobalUsings.g.cs
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfoInputs.cache
TradingServer/obj/Debug/net9.0/TradingServer.sourcelink.json
Logging/bin/Debug/net9.0/TradingServer.Logging.pdb
Logging/bin/Debug/net9.0/TradingServer.Logging.dll
Orderbook/Orders/obj/Debug/net9.0/Orders.AssemblyInfoInputs.cache
Orderbook/Orders/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
TradingServer/obj/Debug/net9.0/TradingServer.AssemblyInfoInputs.cache
Logging/bin/Debug/net9.0/TradingServer.Logging.dll
/Logging/bin/Debug
